body{
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: black;
  pad: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    padding: 20px;
  
}
.top{
  padding: 20px;
 display: flex;
align-items: center;
justify-content: space-between;
}
.top img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid ;
}
.center
{
  background-color: red;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid white;
  pad: 4px 8px;
  font-size:11px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}
.bottom
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px ;
}
.center{
  font-size: 18px;
  font-weight: 500;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
}
.center .tag h4{
font-size: 14px;


}
