
body{
    background-color: rgb(9, 9, 9);
}
.card{
     background-color: gray;
    border: 2px solid white;
    width: 300px;
    color: white;
    text-align: center;
    padding: 20px;
}
.card img{
    height: 100px;
    width: 100px;
}
.parent{
display: flex;
align-items: center;
flex: wrap;
border-radius: 10px;
}
