body{
  width: 100%;
  height: 100%;
}
.card{
  background-color: blueviolet;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: rgb(231, 144, 24);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}